# Main settings
cluster_name = "{{ vault_conf_cluster_name }}"

# Enable web-interface
ui = {{ vault_conf_ui | string | lower }}

# Log settings
log_level = "{{ vault_conf_log_level }}"
log_file = "{{ vault_conf_log_file }}"
log_rotate_duration = "{{ vault_conf_log_rotate_duration }}"
log_rotate_bytes = {{ vault_conf_log_rotate_bytes }}
log_rotate_max_files = {{ vault_conf_log_rotate_max_files }}

# Network settings
{% if vault_port_https is defined %}
api_addr = "https://{{ vault_address }}:{{ vault_port_https }}"
cluster_addr = "https://{{ vault_address }}:{{ vault_port_https | int + 1 }}"
{% else %}
api_addr = "http://{{ vault_address }}:{{ vault_port_http }}"
cluster_addr = "http://{{ vault_address }}:{{ vault_port_http | int + 1 }}"
{% endif %}

{% if vault_port_http is defined %}
listener "tcp" {
    address = "0.0.0.0:{{ vault_port_http }}"
    tls_disable = 1
}
{% endif %}

{% if vault_port_https is defined %}
listener "tcp" {
    address = "0.0.0.0:{{ vault_port_https }}"
    tls_cert_file = "{{ vault_dir_tls }}/vault.crt"
    tls_key_file = "{{ vault_dir_tls }}/vault.key"
}
{% endif %}

{% if groups.vault | length > 1 %}
# Consul storage settings
storage "consul" {
    address = "{{ vault_consul_address }}:{{ vault_consul_port }}"
    path = "{{ vault_consul_path }}"
    service_address = "{{ ansible_default_ipv4.address }}"
    service = "{{ ansible_hostname }}"
{%   if vault_consul_tls and vault_consul_skip_verify %}
    scheme = "https"
    tls_skip_verify = {{ vault_consul_skip_verify | string | lower }}
{%   elif vault_consul_tls and not vault_consul_skip_verify %}
    scheme = "https"
    token: "{{ vault_consul_token }}"
    tls_ca_file = "{{ vault_consul_tls_ca_file }}"
    tls_cert_file = "{{ vault_consul_tls_crt_file }}"
    tls_key_file  = "{{ vault_consul_tls_key_file }}"
{%   endif %}
}
{% else %}
# Storage settings
storage "file" {
    path = "{{ vault_dir_data }}"
}
{% endif %}
