[Unit]
Description="HashiCorp Vault - A tool for managing secrets"
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ vault_dir_conf }}/config.hcl

[Service]
User={{ vault_user }}
Group={{ vault_group }}
ExecStart={{ vault_dir_bin }}/vault server -config={{ vault_dir_conf }}/config.hcl
ExecReload=/bin/kill --signal HUP
KillSignal=SIGINT
TimeoutStopSec=30
Restart=on-failure
RestartSec=5
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
